@{
    ViewData["Title"] = "Home Page";
}

<header><link rel="stylesheet" href="~/css/Index.css" /></header>

<body>
    <div class="banner-container text-center">
        <img src="content\images\Banner.png" alt="Banner Image">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="buttons-container text-center mt-3">
                        <a class="button" asp-controller="Game" asp-action="Index">Enter Game</a>
                        <form method="post" asp-action="Logout">
                            <button type="submit" class="button">Log Out</button>
                        </form>
                    </div>
                }
                else
                {
                    <div class="buttons-container text-center mt-3">
                        <a class="button" href="/Identity/Account/Register">Register</a>
                        <a class="button" href="/Identity/Account/Login">Login</a>
                    </div>
                }
                <div class="row">
                    <!-- Left frame with game description -->
                    <div class="col-md-6">
                        <div class="card left-frame">
                            <div class="card-header label-background">
                                <h2 class="text-white">Game Description</h2>
                            </div>
                            <div class="card-body">
                                <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted. The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse pains.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Right frame with functionalities -->
                    <div class="col-md-6">
                        <div class="card right-frame">
                            <div class="card-header label-background">
                                <h2 class="text-white">Functionalities</h2>
                            </div>
                            <div class="card-body">
                                <ul>
                                    <li>Functionality 1</li>
                                    <li>Functionality 2</li>
                                    <li>Functionality 3</li>
                                    <li>Functionality 1</li>
                                    <li>Functionality 2</li>
                                    <li>Functionality 3</li>
                                    <li>Functionality 1</li>
                                    <li>Functionality 2</li>
                                    <li>Functionality 3</li>
                                    <li>Functionality 1</li>
                                    <li>Functionality 2</li>
                                    <li>Functionality 3</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>